@model Hospital_Management_System.Models.Patient
<form id="dataDemo" name="delete">
    <div class="modal-header">
        <div style="padding-left:5rem">

            <h1 class="modal-title" id="ViewModalLabel">ARE YOU SURE WANT TO DELETE </h1></div>

            <div style="padding-left:9rem">
                <button type="button" style="color:black"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <style>
                #ViewModalLabel {
                    font-size: large;
                    color: black;
                }
                
            </style>
        </div>
    <div class="modal-body" style=" color: white; background-color: black;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, "Age", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Age, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Gender, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        </div>
       

        <div class="form-group">
            @Html.LabelFor(model => model.Contact, "Contact", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Contact, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        </div>


    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="DeletePatient()">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:50px;">No</button>
        </div>
</form>