@model Hospital_Management_System.Models.RegisterEmployee
@{
    ViewBag.Title = "password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center;">
    <h2>Forgot Password...?</h2>
</div>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("password", "Patients", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div style="padding-left:54%;">
                    <h4>Confirm your details & change password</h4>
                </div>
                <hr />
                <br />
                <br />
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="padding-left:50%;">
                    @Html.LabelFor(m => m.Email, "Email Id:", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8" >
                        @Html.EditorFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding-left:50%;">
                    @Html.LabelFor(m => m.ContactNo,"Contact No:", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8" >
                        @Html.EditorFor(m => m.ContactNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding-left:50%;">
                    @Html.LabelFor(m => m.Password,"New Password:", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding-left:63%;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

